<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<select id="selectBoardList" resultType="com.bs.spring.model.vo.Board">
		SELECT * FROM BOARD ORDER BY BOARDDATE
	</select>
	
	<select id="selectBoardPage" parameterType="map" resultType="com.bs.spring.model.vo.Board">
		SELECT * FROM
			(SELECT ROWNUM AS RNUM, B. *
				FROM (SELECT * FROM BOARD ORDER BY BOARDDATE) B)
			WHERE RNUM BETWEEN
			#{start} AND #{end}
	</select>
	
	<select id="selectBoardByNo" resultType="com.bs.spring.model.vo.Board" parameterType="_int">
		SELECT * FROM board WHERE boardNo = #{boardNo}
	</select>
	
	<select id="selectBoardCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	
	
</mapper>